[submodule "ArrayUtilsLib"]
	path = ArrayUtilsLib
	url = https://github.com/Greateapot/ArrayUtilsLib
[submodule "ConsoleDialogLib"]
	path = ConsoleDialogLib
	url = https://github.com/Greateapot/ConsoleDialogLib
[submodule "ConsoleIOLib"]
	path = ConsoleIOLib
	url = https://github.com/Greateapot/ConsoleIOLib
[submodule "DiscreteMath/Lab3"]
	path = DiscreteMath/Lab3
	url = .\\DiscreteMath\\Lab3\\ # А вот это я вам не покажу
[submodule "DiscreteMath/Lab4"]
	path = DiscreteMath/Lab4
	url = .\\DiscreteMath\\Lab4\\ # и это тоже, лол
[submodule "OOP/Lab1"]
	path = OOP/Lab1
	url = https://github.com/Greateapot/csharp-lab-1
[submodule "OOP/Lab3"]
	path = OOP/Lab3
	url = https://github.com/Greateapot/csharp-lab-3
[submodule "OOP/Lab5"]
	path = OOP/Lab5
	url = https://github.com/Greateapot/csharp-lab-5
[submodule "OOP/Lab6"]
	path = OOP/Lab6
	url = https://github.com/Greateapot/csharp-lab-6
[submodule "OOP/Lab9"]
	path = OOP/Lab9
	url = https://github.com/Greateapot/csharp-lab-9
[submodule "OOP/Lab10"]
	path = OOP/Lab10
	url = https://github.com/Greateapot/csharp-lab-10
[submodule "OOP/Lab11"]
	path = OOP/Lab11
	url = https://github.com/Greateapot/csharp-lab-11
